# Project -1

## Sales Prediction (Simple Linear Regression)

## Problem Statement

Build a model which predicts sales based on the money spent on different platforms for marketing.

## Data
Data is available at https://www.kaggle.com/datasets/ashydv/advertising-dataset?select=advertising.csv

In this notebook, we'll build a linear regression model to predict Sales using an appropriate predictor variable.

In [1]:
import warnings
warnings.filterwarnings('ignore')

import numpy as np
import pandas as pd

import matplotlib.pylab as plt
import seaborn as sns

plt.style.use('ggplot')

np.set_printoptions(precision=4, linewidth=100)

In [4]:
# Provide the relative path to the data file
file_path = "../ml-data/MBA-Salary.csv"

In [5]:
# importing the data file
mba_salary_df = pd.read_csv(file_path)
mba_salary_df.head( 10 )

   S. No.  Percentage in Grade 10  Salary
0       1                   62.00  270000
1       2                   76.33  200000
2       3                   72.00  240000
3       4                   60.00  250000
4       5                   61.00  180000
5       6                   55.00  300000
6       7                   70.00  260000
7       8                   68.00  235000
8       9                   82.80  425000
9      10                   59.00  240000

In [8]:
# infromation about the dataset
mba_salary_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 3 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   S. No.                  50 non-null     int64
 1   Percentage in Grade 10  50 non-null     float64
 2   Salary                  50 non-null     int64
dtypes: float64(1), int64(2)
memory usage: 1.3 KB

In [11]:
# if you encounter `ModuleNotFoundError` for statsmodel then install it using
%pip install statsmodels

Collecting statsmodels
  Downloading statsmodels-0.14.0-cp311-cp311-macosx_10_9_x86_64.whl (9.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 9.9/9.9 MB 6.5 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: numpy>=1.18 in /usr/local/lib/python3.11/site-packages (from statsmodels) (1.24.1)
Requirement already satisfied: scipy!=1.9.2,>=1.4 in /usr/local/lib/python3.11/site-packages (from statsmodels) (1.10.0)
Requirement already satisfied: pandas>=1.0 in /usr/local/lib/python3.11/site-packages (from statsmodels) (1.5.3)
Collecting patsy>=0.5.2
  Downloading patsy-0.5.3-py2.py3-none-any.whl (233 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 233.8/233.8 kB 3.3 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: packaging>=21.3 in /Users/arunp77/Library/Python/3.11/lib/python/site-packages (from statsmodels) (22.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/arunp77/Library/Python/3.11/lib/python/site-packages (from pandas>=1.0->statsmodels) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/site-packages (from pandas>=1.0->statsmodels) (2022.7.1)
Requirement already satisfied: six in /Users/arunp77/Library/Python/3.11/lib/python/site-packages (from patsy>=0.5.2->statsmodels) (1.16.0)
Installing collected packages: patsy, statsmodels
Successfully installed patsy-0.5.3 statsmodels-0.14.0

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: python3.11 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [12]:
# Creating feature Set(X) and Outcome Variable (Y)
import statsmodels.api as sm

X = sm.add_constant( mba_salary_df['Percentage in Grade 10'] )
X.head(5)

   const  Percentage in Grade 10
0    1.0                   62.00
1    1.0                   76.33
2    1.0                   72.00
3    1.0                   60.00
4    1.0                   61.00