# Project-2: Multiple Linear Regression

Multiple  linear  regression  (MLR)  is  a  supervised  learning  algorithm  for  finding  the  existence  of  an  association relationship between a dependent variable (aka response variable or outcome variable) and several independent variables (aka explanatory variables or predictor variable or features).

The functional form of MLR is given by:

$Y_i =  \beta_0 + \beta_1 X_{1i} + \beta_2 X_{2i} + .... + + \beta_k X_{ki} + \epsilon_{ki}$

where

$\beta_1$,  $\beta_2$, $\beta_3$, .... , $\beta_k$ are partial regression coefficients. 

since the relationship between an explanatory variable and the response (outcome) variable is calculated after removing (or controlling) the effect all the other explanatory variables (features) in the model.

The assumptions that are made in multiple linear regression model are as follows:
1. The regression model is linear in regression parameters (b-values).
2. The residuals follow a normal distribution and the expected value (mean) of the residuals is zero.
3. In time series data, residuals are assumed to uncorrelated.

## Building multiple linear regression model

### Importing important libraries

In [ ]:
import warnings
warnings.filterwarnings('ignore')

import numpy as np
import pandas as pd

import matplotlib.pylab as plt
import seaborn as sns

plt.style.use('ggplot')

np.set_printoptions(precision=4, linewidth=100)

### Data file path

In [ ]:
# Provide the relative path to the data file
file_path = "../ml-data/MBA-Salary.csv"

### Importing the data file

In [ ]:
# importing the data file
mba_salary_df = pd.read_csv(file_path)
mba_salary_df.head( 10 )

   S. No.  Percentage in Grade 10  Salary
0       1                   62.00  270000
1       2                   76.33  200000
2       3                   72.00  240000
3       4                   60.00  250000
4       5                   61.00  180000
5       6                   55.00  300000
6       7                   70.00  260000
7       8                   68.00  235000
8       9                   82.80  425000
9      10                   59.00  240000